/* Customizing the scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* Customizing the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Changing the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 310px;
  padding: 15px;
  margin: 0;
  color: white;
  background-color: #1e2a37;
  font-family: 'Open Sans', sans-serif;
  visibility: hidden;
}

h1 {
  margin: 0;
  color: #22c55d;
  font-weight: 700;
  font-size: 24px;
}

.title-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.icon-style {
  height: 20px;
  width: 20px;
  stroke: currentColor;
}

#settingsButton {
  line-height: 0px;
}

#infoContainer {
  color: #d1d5db;
  font-size: 14px;
  margin-top: 0px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#InfoButton {
  width: 100%;
}

#activeTabsList {
  margin-bottom: 6px;
  margin-top: 8px;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  list-style: none;
  border: 1px solid #595a61;
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-bottom: 8px;
}

#activeTabsList li {
  display: flex;
  justify-content: space-between;
}

#activeTabsList li:not(:last-child) {
  margin-bottom: 8px;
}

.orange {
  color: orange;
}

.control-container-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#controlContainerTitle {
  margin: 0;
  display: flex;
  align-items: center;
}

.radio-tabs-wrapper {
  padding: 0;
  float: right;
  background-color: #374151;
  border-radius: 6px;
  line-height: 0px;
}

.radio-tab {
  display: none;
}

.radio-tab+label {
  fill: #22c55d;
  background-color: #374151;
  padding: 4px 5px;
  margin: 0;
  margin-bottom: 0px;
  border: 0;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
}

.radio-tab:checked+label {
  fill: #374151;
  background-color: #22c55d;
  position: relative;
  cursor: default;
}

.radio-tab+label:hover:not(.radio-tab:checked + label:hover) {
  /* background-color: #27272a; */
  fill: white;
}

#controlContainer {
  margin: 0;
  padding-top: 0px;
  padding: 0;
}

.slider {
  margin-top: 10px;
  height: 12px;
  width: 100%;
  appearance: none;
  background: #27272a;
  border-radius: 6px;
  outline: none;
  overflow: hidden;
}

.slider:hover {
  background: #323236;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 20px;
  background-color: #22c55d;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: -200px 0 0 185px whitesmoke;
  border: 0;
}

.slider-labels {
  color: #d1d5db;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.time-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
}

#rolldateHeaderContainer {
  margin: 0;
  margin-bottom: 2px;
}

#scheduleSetter,
#timerSetter {
  background-color: #2b333f;
  color: white;
  border: 1px solid;
  border-color: #141c25;
  line-height: 36px;
  font-size: 15px;
  border-radius: 6px;
  padding-inline: 12px;
  width: 100%;
  flex: 1;
}

#scheduleSetter:focus,
#timerSetter:focus {
  outline: none;
}

.selected-rolldate {
  outline: 2px solid !important;
}

#timerSetter:hover {
  cursor: pointer;
}

.centre-container {
  display: flex;
  column-gap: 10px;
  width: 100%;
}

.half-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-container h3 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.centre-container button {
  flex: 1;
}

.modal-content .settings-container:not(:first-child) {
  padding-top: 12px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  appearance: none;
  background-color: #22c55d;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: #27272a;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  padding: 6px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover {
  background-color: white;
}

.button-dark {
  background-color: #374151;
  color: #22c55d;
}

.button-dark:hover {
  background-color: #27272a;
  color: white;
}

button:active {
  transform: scale(0.98);
}

button:hover:disabled {
  background-color: #0f5329;
  cursor: not-allowed;
}

.button-dark:hover:disabled {
  background-color: #2f3745;
  color: #11612f;
  cursor: not-allowed;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  float: right;
  margin-top: 50px;
  margin-right: 15px;
  padding: 15px;
  border: 0px;
  border-radius: 6px;
  width: 214px;
  height: auto;
  color: white;
  background-color: #1e2a37;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}


#notificationCheckbox {
  display: none;
}

.checkbox-label,
.checkbox-label::before,
.checkbox-label::after {
  transition: all .3s;
}

.checkbox-label {
  float: right;
  display: inline-block;
  position: relative;
  top: 3px;
  width: 36px;
  height: 17px;
  border-radius: 9px;
  cursor: pointer;
  background-color: #595a61;
}

/* slider styles */
.checkbox-label::after {
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 13px;
  background-color: white;
}

#notificationCheckbox:checked+.checkbox-label {
  background-color: rgb(0, 165, 0);
}

#notificationCheckbox:checked+.checkbox-label::after {
  left: 21px;
}

/* Remove arrows */
#thresholdDefaultInput::-webkit-inner-spin-button,
#thresholdDefaultInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#thresholdDefaultInput {
  position: relative;
  top: 1px;
  width: 32px;
  border-radius: 6px;
  border: 0;
  background-color: #595a61;
  color: white;
  height: 32px;
  font-size: 16px;
  text-align: center;
}

#thresholdDefaultInput:focus {
  outline: none;
}

#minusThresholdButton,
#plusThresholdButton {
  width: 35px;
  font-size: 20px;
}

#minusThresholdButton {
  margin-right: 5px;
}

#plusThresholdButton {
  margin-left: 5px;
}

#setThresholdButton {
  width: 50px;
  float: right;
}